python-dotenv~=1.0.0
requests~=2.31.0
numpy
pandas~=2.1.4
scikit-learn
openai~=1.6.1
streamlit~=1.29.0
streamlit-chat
langdetect
pinecone-client~=2.2.4
PyPDF2~=3.0.1
tabulate
pydantic~=2.5.3
langchain~=0.1.0
langchain-community~=0.0.10
langchain-experimental~=0.0.47
pygame~=2.5.2
